.container {
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 22;

  .top-bar {
    padding: 0.8rem 1rem;
    background: white;
    box-shadow: 0 4px 24px 0 rgba(black, 0.1);;
    border-radius: 0.428rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  .text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    .username {
      font-weight: bold;
    }
    .role {
      margin-right: 0.6rem;
    }
  }

  .avatar {
    width:48px;
    height:48px;
    cursor: pointer;
  }
}

.hidden {
  display: none;
}
