.input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;

  .arrow {
    width: 10px;
    height: 10px;
    border-right: 3px solid #D9D9D9;
    border-bottom: 3px solid #D9D9D9;
    transform: rotate(45deg);
    margin: 0 20px 3px 20px;

    &.invisible {
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
    }

    &.darker {
      border-right: 3px solid rgb(119, 119, 119);
      border-bottom: 3px solid rgb(119, 119, 119);
    }
  }

  .add-input {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 16px 16px 11px;
    font-size: 24px;
    border: none;
    outline: none;

    &.add-input::placeholder {
      font-style: italic;
      color: #D9D9D9;
    }
  }
}
